.centerbox {
    /*https://coryrylan.com/blog/how-to-center-in-css-with-flexbox*/
    height:100vh;
    display: flex;
    justify-content: center;
    color: green;
    align-items: center;
}
.greeting{
    display: inline-block;
}

input{
    display: block;
    width: 50%;
}
button{
    width: 100%;
    display: block;
}
img.logo{
    width: 50%;
}
#logobox {
    text-align: center;
}